USE [master]
GO
/****** Object:  Database [LivePills]    Script Date: 25/06/2022 08:59:12 p. m. ******/
CREATE DATABASE [LivePills]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LivePills', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LivePills.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LivePills_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LivePills_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LivePills].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LivePills]
GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[IdCarrito] [int] NOT NULL,
	[CantidadAlmacenada] [int] NOT NULL,
	[CostoParcial] [decimal](10, 2) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarritosProductos]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarritosProductos](
	[IdCarrito] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
 CONSTRAINT [CarritosProductos_pk] PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](8) NOT NULL,
	[Registrado] [bit] NOT NULL,
	[NombreCompleto] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionesClientes]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionesClientes](
	[IdDireccionesClientes] [int] NOT NULL,
	[Region] [varchar](20) NOT NULL,
	[Distrito] [varchar](20) NOT NULL,
	[Direccion] [varchar](20) NOT NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccionesClientes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DireccionesFarmacias]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DireccionesFarmacias](
	[IdDireccionFarmacia] [int] NOT NULL,
	[Region] [varchar](20) NOT NULL,
	[Distrito] [varchar](20) NOT NULL,
	[Direccion] [text] NOT NULL,
	[IdFarmacia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccionFarmacia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Farmacias]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Farmacias](
	[IdFarmacia] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
	[NombreFarmacia] [varchar](100) NOT NULL,
	[SitioWeb] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFarmacia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favoritos]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favoritos](
	[IdCliente] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
 CONSTRAINT [Favoritos_pk] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC,
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibroReclamaciones]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibroReclamaciones](
	[IdLibroReclamacion] [int] NOT NULL,
	[Reclamo] [text] NOT NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibroReclamacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[IdOrden] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Costo] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesDetalles]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesDetalles](
	[IdOrdenDetalle] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoParcial] [decimal](10, 2) NOT NULL,
	[IdOrden] [int] NOT NULL,
	[IdProducto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrdenDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [int] NOT NULL,
	[Existencias] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[IdFarmacia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosTarjetas]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosTarjetas](
	[IdMetodosPago] [int] NOT NULL,
	[NumeroTarjeta] [bigint] NOT NULL,
	[CVV] [int] NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodosPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repartidores]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repartidores](
	[IdRepartidor] [int] NOT NULL,
	[Telefono] [int] NOT NULL,
	[NombreCompleto] [varchar](100) NOT NULL,
	[DNI] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRepartidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepartidoresOrdenes]    Script Date: 25/06/2022 08:59:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepartidoresOrdenes](
	[IdRepartidor] [int] NOT NULL,
	[IdOrden] [int] NOT NULL,
 CONSTRAINT [RepartidoresOrdenes_pk] PRIMARY KEY CLUSTERED 
(
	[IdRepartidor] ASC,
	[IdOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Carritos] ([IdCarrito], [CantidadAlmacenada], [CostoParcial], [Monto], [IdCliente]) VALUES (1, 111, CAST(13.55 AS Decimal(10, 2)), CAST(87.89 AS Decimal(10, 2)), 16)
INSERT [dbo].[Carritos] ([IdCarrito], [CantidadAlmacenada], [CostoParcial], [Monto], [IdCliente]) VALUES (2, 269, CAST(41.68 AS Decimal(10, 2)), CAST(166.29 AS Decimal(10, 2)), 17)
INSERT [dbo].[Carritos] ([IdCarrito], [CantidadAlmacenada], [CostoParcial], [Monto], [IdCliente]) VALUES (3, 160, CAST(42.98 AS Decimal(10, 2)), CAST(190.01 AS Decimal(10, 2)), 15)
GO
INSERT [dbo].[CarritosProductos] ([IdCarrito], [IdProducto]) VALUES (1, 14)
INSERT [dbo].[CarritosProductos] ([IdCarrito], [IdProducto]) VALUES (1, 15)
INSERT [dbo].[CarritosProductos] ([IdCarrito], [IdProducto]) VALUES (2, 1)
GO
INSERT [dbo].[Clientes] ([IdCliente], [Telefono], [Correo], [Contrasenia], [Registrado], [NombreCompleto]) VALUES (1, 91517628, N'wtoulamain0@goo.gl', N'sDzwVt90', 1, N'Wyndham Toulamain')
INSERT [dbo].[Clientes] ([IdCliente], [Telefono], [Correo], [Contrasenia], [Registrado], [NombreCompleto]) VALUES (2, 125237774, N'dbreache1@elpais.com', N'IGBr1RIx', 1, N'Domenic Breache')
INSERT [dbo].[Clientes] ([IdCliente], [Telefono], [Correo], [Contrasenia], [Registrado], [NombreCompleto]) VALUES (3, 385009019, N'acowlas2@technorati.com', N'1SU2tnJ', 0, N'Aloin Cowlas')
GO
INSERT [dbo].[DireccionesClientes] ([IdDireccionesClientes], [Region], [Distrito], [Direccion], [IdCliente]) VALUES (1, N'Toba Tek Singh', N'Brown', N'38 Maywood Park', 16)
INSERT [dbo].[DireccionesClientes] ([IdDireccionesClientes], [Region], [Distrito], [Direccion], [IdCliente]) VALUES (2, N'Châtellerault', N'John Wall', N'98386 Lerdahl Road', 18)
INSERT [dbo].[DireccionesClientes] ([IdDireccionesClientes], [Region], [Distrito], [Direccion], [IdCliente]) VALUES (3, N'Simpang', N'Cordelia', N'330 Vahlen Circle', 22)
GO
INSERT [dbo].[DireccionesFarmacias] ([IdDireccionFarmacia], [Region], [Distrito], [Direccion], [IdFarmacia]) VALUES (1, N'Xiyang', N'Forest Dale', N'9 Wayridge Trail', 16)
INSERT [dbo].[DireccionesFarmacias] ([IdDireccionFarmacia], [Region], [Distrito], [Direccion], [IdFarmacia]) VALUES (2, N'Ko Chan', N'Ridge Oak', N'595 Pleasure Place', 18)
INSERT [dbo].[DireccionesFarmacias] ([IdDireccionFarmacia], [Region], [Distrito], [Direccion], [IdFarmacia]) VALUES (3, N'Johor Bahru', N'Banding', N'659 Larry Crossing', 18)
GO
INSERT [dbo].[Farmacias] ([IdFarmacia], [Telefono], [NombreFarmacia], [SitioWeb]) VALUES (1, 785201998, N'Church & Dwight Co., Inc.', N'japanpost.jp')
INSERT [dbo].[Farmacias] ([IdFarmacia], [Telefono], [NombreFarmacia], [SitioWeb]) VALUES (2, 899759, N'Physicians Total Care, Inc.', N'bizjournals.com')
INSERT [dbo].[Farmacias] ([IdFarmacia], [Telefono], [NombreFarmacia], [SitioWeb]) VALUES (3, 244317129, N'BluePoint Laboratories', N'redcross.org')
GO
INSERT [dbo].[Favoritos] ([IdCliente], [IdProducto]) VALUES (1, 13)
INSERT [dbo].[Favoritos] ([IdCliente], [IdProducto]) VALUES (1, 22)
INSERT [dbo].[Favoritos] ([IdCliente], [IdProducto]) VALUES (2, 25)
GO
INSERT [dbo].[LibroReclamaciones] ([IdLibroReclamacion], [Reclamo], [IdCliente]) VALUES (1, N'duis at velit eu est congue elementum in hac habitasse platea dictumst morbi vestibulum velit id pretium iaculis diam erat fermentum justo nec condimentum neque sapien placerat ante nulla justo aliquam quis turpis eget elit sodales scelerisque mauris sit amet eros suspendisse accumsan tortor quis turpis sed ante vivamus tortor duis mattis egestas', 15)
INSERT [dbo].[LibroReclamaciones] ([IdLibroReclamacion], [Reclamo], [IdCliente]) VALUES (2, N'vestibulum velit id pretium iaculis diam erat fermentum justo nec condimentum neque sapien placerat ante nulla justo aliquam quis turpis eget elit sodales scelerisque mauris sit amet eros suspendisse accumsan tortor quis turpis sed ante vivamus tortor duis mattis egestas metus aenean fermentum donec ut mauris eget massa tempor convallis nulla neque libero convallis eget eleifend luctus ultricies', 21)
INSERT [dbo].[LibroReclamaciones] ([IdLibroReclamacion], [Reclamo], [IdCliente]) VALUES (3, N'lobortis est phasellus sit amet erat nulla tempus vivamus in felis eu sapien cursus vestibulum proin eu mi nulla ac enim in tempor turpis nec euismod scelerisque quam turpis adipiscing lorem vitae mattis nibh ligula nec sem duis aliquam convallis nunc proin at turpis a pede posuere nonummy integer non velit donec diam neque', 28)
GO
INSERT [dbo].[Ordenes] ([IdOrden], [Fecha], [Costo], [Estado], [IdCliente]) VALUES (1, CAST(N'2022-01-14T00:00:00.000' AS DateTime), CAST(115.02 AS Decimal(10, 2)), 0, 23)
INSERT [dbo].[Ordenes] ([IdOrden], [Fecha], [Costo], [Estado], [IdCliente]) VALUES (2, CAST(N'2021-06-25T00:00:00.000' AS DateTime), CAST(227.05 AS Decimal(10, 2)), 0, 2)
INSERT [dbo].[Ordenes] ([IdOrden], [Fecha], [Costo], [Estado], [IdCliente]) VALUES (3, CAST(N'2021-08-05T00:00:00.000' AS DateTime), CAST(106.84 AS Decimal(10, 2)), 1, 29)
GO
INSERT [dbo].[OrdenesDetalles] ([IdOrdenDetalle], [Cantidad], [CostoParcial], [IdOrden], [IdProducto]) VALUES (1, 213, CAST(141.45 AS Decimal(10, 2)), 8, 8)
INSERT [dbo].[OrdenesDetalles] ([IdOrdenDetalle], [Cantidad], [CostoParcial], [IdOrden], [IdProducto]) VALUES (2, 270, CAST(433.05 AS Decimal(10, 2)), 3, 2)
INSERT [dbo].[OrdenesDetalles] ([IdOrdenDetalle], [Cantidad], [CostoParcial], [IdOrden], [IdProducto]) VALUES (3, 279, CAST(291.48 AS Decimal(10, 2)), 6, 9)
GO
INSERT [dbo].[Productos] ([IdProducto], [Existencias], [Nombre], [Tipo], [Marca], [Precio], [IdFarmacia]) VALUES (1, 303, N'LIDOCAINE HYDROCHLORIDE ANHYDROUS', N'Generic', N'Lidocaine Hydrochloride', CAST(161.55 AS Decimal(10, 2)), 1)
INSERT [dbo].[Productos] ([IdProducto], [Existencias], [Nombre], [Tipo], [Marca], [Precio], [IdFarmacia]) VALUES (2, 306, N'atorvastatin calcium', N'Original', N'Atorvastatin Calcium', CAST(199.26 AS Decimal(10, 2)), 6)
INSERT [dbo].[Productos] ([IdProducto], [Existencias], [Nombre], [Tipo], [Marca], [Precio], [IdFarmacia]) VALUES (3, 311, N'Benzethonium chloride', N'Generic', N'Gold Bond Ultimate Hand Sanitizer Sheer Moisture', CAST(221.67 AS Decimal(10, 2)), 27)
GO
INSERT [dbo].[RegistrosTarjetas] ([IdMetodosPago], [NumeroTarjeta], [CVV], [Tipo], [Fecha], [IdCliente]) VALUES (1, 5048370101570281, 773, N'Debito', CAST(N'2021-11-09T00:00:00.000' AS DateTime), 9)
INSERT [dbo].[RegistrosTarjetas] ([IdMetodosPago], [NumeroTarjeta], [CVV], [Tipo], [Fecha], [IdCliente]) VALUES (2, 5048379495982309, 416, N'Debito', CAST(N'2022-04-01T00:00:00.000' AS DateTime), 29)
INSERT [dbo].[RegistrosTarjetas] ([IdMetodosPago], [NumeroTarjeta], [CVV], [Tipo], [Fecha], [IdCliente]) VALUES (3, 4041374570117467, 421, N'Credito', CAST(N'2021-07-28T00:00:00.000' AS DateTime), 30)
GO
INSERT [dbo].[Repartidores] ([IdRepartidor], [Telefono], [NombreCompleto], [DNI]) VALUES (1, 634579889, N'Sonia Foker', N'48951823')
INSERT [dbo].[Repartidores] ([IdRepartidor], [Telefono], [NombreCompleto], [DNI]) VALUES (2, 769844937, N'Wally Doncaster', N'04069050')
INSERT [dbo].[Repartidores] ([IdRepartidor], [Telefono], [NombreCompleto], [DNI]) VALUES (3, 892174432, N'Afton Fallow', N'65601765')
GO
INSERT [dbo].[RepartidoresOrdenes] ([IdRepartidor], [IdOrden]) VALUES (1, 18)
INSERT [dbo].[RepartidoresOrdenes] ([IdRepartidor], [IdOrden]) VALUES (1, 19)
INSERT [dbo].[RepartidoresOrdenes] ([IdRepartidor], [IdOrden]) VALUES (3, 30)
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[CarritosProductos]  WITH CHECK ADD FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carritos] ([IdCarrito])
GO
ALTER TABLE [dbo].[CarritosProductos]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[DireccionesClientes]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[DireccionesFarmacias]  WITH CHECK ADD FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacias] ([IdFarmacia])
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Favoritos]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[LibroReclamaciones]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[OrdenesDetalles]  WITH CHECK ADD FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Ordenes] ([IdOrden])
GO
ALTER TABLE [dbo].[OrdenesDetalles]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IdFarmacia])
REFERENCES [dbo].[Farmacias] ([IdFarmacia])
GO
ALTER TABLE [dbo].[RegistrosTarjetas]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[RepartidoresOrdenes]  WITH CHECK ADD FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Ordenes] ([IdOrden])
GO
ALTER TABLE [dbo].[RepartidoresOrdenes]  WITH CHECK ADD FOREIGN KEY([IdRepartidor])
REFERENCES [dbo].[Repartidores] ([IdRepartidor])
GO
USE [master]
GO
